.badge {
	display: inline-flex;
	font-weight: normal
}

.circle {
	display: inline;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	padding: 5px 10px;
	background: #fff;
	border: 2px solid rgba(31, 29, 29, 0.24);
	color:#111;
	text-align: center;
	font: 15px 'Montserrat','Ubuntu', sans-serif;
  }