html{
    font-size: 14px !important;
}
:root{
    --primary: #469DC9
}
.wrapper{
    min-height: calc(100vh - 100px);
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
}
.wrapper:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-image: url(../../assets/imgs/bg-agent.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0;
    opacity: 0.3;
}

.wrapper_container{
    width: 100%;
    max-width: 1024px;
}
.loginSec {
    padding-top: 10%;
}
.loginLeft h1{
    color: #4ec0e8;
    line-height: 1;
    margin-bottom: 1.4rem;
}
.loginLeft{
    padding-right: 4rem;
}
.loginLeft p{
    color: #000;
    text-align: justify;
}
.logiRight h2{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary);
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 3rem;
}

.logiRight .ant-form-item-label{
    text-transform: uppercase;
}
.logiRight .ant-input{
    border-radius: 0;
    border: 0;
    box-shadow: none;
    height: 40px;
    border-bottom: 1px solid #1A3A50;
}
::placeholder {
    color: #ccc !important;
  }

  .logiRight .ant-btn-primary{
      background: var(--primary) !important;
      border-color: var(--primary);
      color: #fff;
      height: 44px;
      text-transform: uppercase;
      font-weight: 600;
  }
  .logiRight  .ant-card{
      border-radius: 15px;
  }
  .forgotLink{
      display: block;
      text-align: right;
      margin-top: 1.5rem;
      font-size: 0.9rem;
      font-weight: 600;
  }

  @media (max-width:1140px) {
    .loginLeft h1{
        font-size: 1.5rem;
    }
    
.loginLeft p{
    font-size: 0.9rem;
}
      .loginSec .ant-row{
          flex-direction: column;
      }
      .loginLeft{
          padding: 0;
          margin-bottom: 1rem;
      }
      .logiRight{
          max-width: 300px;
          flex: 0 0 300px;
          width: 100%;
      }
  }
  

  @media (max-width:768px) {
    .loginLeft{
        width: 100%;
        max-width: 100%;
        padding: 0 1.2rem;
    }
    .logiRight{
        max-width: 320px;
        flex: 0 0 320px;
        padding: 0 1rem;
    }
}